/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; /* Adds some space between buttons */
}

.project-button {
  display: inline-block;
  width: 80%; /* Adjust width as needed */
  height: 500px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  line-height: 500px;
  text-decoration: none;
  font-size: 48px; /* Adjust font size as needed */
  border-radius: 30px; /* Adjust border radius for more rectangle shape */
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}



/* Body style */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #17364B;
  color:white
}

/* Header style */
.headerindex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #C14A42;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
/*project1*/
/* section 1*/
.box1 p{
    background-color: #FBB8A2;
    border-width: 3px;
    border-style: solid;
    padding: 5%;
    font-size: 20px;

}
.box1 h3{
  text-align: center;
  font-size: 50px;

}
/* section 2*/

.box2 h3{
text-align: center;
font-size: 50px;

}
.box2 p{
font-size: 20px;
background-color: #FBB8A2;
border-width: 3px;
border-style: solid;
padding: 5%;
}

/*section 3*/

.box3 h3{
text-align: center;
font-size: 50px;

}
.box3 p{
font-size: 20px;
background-color: #FBB8A2;
  border-width: 3px;
  border-style: solid;
  padding: 5%;
}

/*section 4*/
.box4 h3{
text-align: center;
font-size: 50px;

}
.box4 p{
font-size: 20px;
background-color: #FBB8A2;
  border-width: 3px;
  border-style: solid;
  padding: 5%;
}

.case-study h3{
  text-align: center;
  font-size: 40px;
}
.case-study h4{
  font-size:30px
}
.describe{
  font-size:20px;
  text-align:center;
  line-height: 2.0;
}



.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #F0B09D;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

nav ul li a {
  color: #F0B09D;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #FFA07A;
}

/* Main style */
main {
  padding: 8rem 2rem 2rem;
  margin-top: 5rem;
}

.hero {
  text-align: left;
  margin-bottom:2rem;
  padding-left: 10%;
}
.align{
  text-align:left;
  color: #C1A50B;
  padding-left: 10%;
}
.projects{
  font-size: 50px;
  color: #fdfdfd;
  padding-left:10%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 5%;
  padding-bottom: 3%;
}

.hero h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #F0B09D;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  color: #C1A50B;
  margin-bottom: 1rem;
}

hr {
  border: 0;
  height: 2px;
  background-color: #FFA07A;
  margin: 2rem auto;
  width: 50%;
}


.portfolio {
  text-align: center;
}

.portfolio h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #FBB8A2;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttons a {
  width: 500px; 
  height: 500px;
  border: none; 
  border-radius: 50%; 
  overflow: hidden; 
  background-color: transparent; 
  cursor: pointer;
  transition: transform 0.3s;
}

.buttons a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.buttons img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s ease;
}

.buttons a:hover img {
  transform: scale(1.2);
}

/* Footer style */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer p {
  font-size: 1rem;
}

footer a {
  color: #FFFF0000;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.resume-section {
  margin-bottom: 40px;
}
.resume-section h2 {
  margin-bottom: 10px;
}
.resume-section ul {
  margin-left: 20px;
  margin-top: 0;
}
.resume-section ul li {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 1.5;
}
.resume-section ul li:last-child {
  margin-bottom: 0;
}
.resume-section p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 1.5;
}


.sticky-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
#fullscreen {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#fullscreen img {
  width: 100%;
  height: auto;
  display: block;
}
#title {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#title img {
  width: 100%;
  height: auto;
  display: block;
}
#Probelm {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#Problem img {
  width: 100%;
  height: auto;
  display: block;
}
#pinpoints {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#pinpoints img {
  width: 100%;
  height: auto;
  display: block;
}
#Problem1 {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#Problem1 img {
  width: 100%;
  height: auto;
  display: block;
}
#Problem2 {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#Problem2 img {
  width: 100%;
  height: auto;
  display: block;
}
#wireframe {
  height: 100vh; /* 50% of the viewport height */
  width: 100%;
  overflow: hidden;
}

#wireframe img {
  width: 100%;
  height: auto;
  display: block;
}
.iframe-container {
            display: flex;
            justify-content: space-between;
        }

        .iframe {
            border: 1px solid rgba(0, 0, 0, 0.1);
        }




.proj1{
  padding-left: 5%;
  padding-right: 30%;
  
}        

.header {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
}
.name{
color: var(--Light-Yellow, #F6F2E4);
font-variant-numeric: lining-nums tabular-nums;
font-feature-settings: 'clig' off, 'liga' off;
/* Overline */
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
letter-spacing: 1.5px;
text-transform: uppercase;

}
.par1{
  color: var(--Light-Yellow, #F6F2E4);
font-variant-numeric: lining-nums tabular-nums;
font-feature-settings: 'clig' off, 'liga' off;
/* Subtitle 1 */
font-family: "DM Sans";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 36px; /* 150% */
letter-spacing: 0.15px;
padding-bottom: 10%;
}

.goals{
  padding-left: 100%;
}

/* new introduction for home page*/
.introduction{
  font-size: 10pc;
}
.line{
  max-width: 100%; /* Ensures the image never exceeds the width of its container */
    height: auto;
}

.popup {
  position: relative;
  display: inline;
  cursor: pointer;
}

.popup .popuptext {
  visibility: hidden;
  width: 200px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%; /* Adjust this value to bring it closer to the text */
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popup:hover .popuptext {
  visibility: visible;
  opacity: 1;
}

/* Additional styles for the image */
.popup .popuptext img {
  max-width: 100%;
  height: auto;
}

.image-row {
  display: flex; /* Make container a flexbox */
  justify-content:space-between; /* Center items horizontally */
  align-items: center; /* Center items vertically */
}
.image-row img {
  max-width: 100%; /* Ensure images don't exceed container width */
  height: auto; /* Maintain aspect ratio */
  margin: 5px; /* Add some spacing between images */
}
.skills{
  padding-top: 3%;
  padding-bottom: 3%;
}
